* {
    margin: 0;
    padding: 0;
}


.top-navegador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    background: white;
    color: transparent;
    height: 85px;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .top-navegador a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: dodgerblue;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    float: left;
    padding: 20px 8px;

  }
  

  .topnav {
    display: inline-flex;
    overflow: hidden;
  }

  .menu-principal, .titulo {
    display: inline-flex;
  }

  .menu-principal{
    margin-left: 80rem;
  }


.contenedor-flip{
  display: flex;
  margin-top: 0rem;
  justify-content: center;
}

@media only screen and (min-width: 961px) and (max-width: 1500px){

  .menu-principal{
    margin-left: 40rem;
  }

}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 80%;
  text-justify: distribute-all-lines;
}


.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front{
  background-color: #bbb;
  color: dodgerblue;
}

.flip-card-front h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flip-card-back{
  display: flex;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.listaRequisitos{
  list-style: none;
  margin-top: 10px;
}

.flip-card-back h2{
  margin-bottom: 15px;
}


#calculadora{
  margin-top: 50px;
}

#divSaludo{
  margin-top: 50px;
}


#calculadora {
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */

  height: 400px;
  width: 500px;
  border-radius: 3%;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

#calculadora input{
  height: 20px;
  width: 300px;
  margin: 5px;
}

#tituloCalculadora{
  color: dodgerblue;
}

.tituloSaludo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
  color: dodgerblue;
}

.parrafoResumen{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

/* slider */

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-contenedor {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-flecha {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-flecha:hover,
.slide-flecha:focus {
  opacity: 1;
}

#slide-flecha-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-flecha-sig {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

